@page "/ShowRecipe"
@using Client.Services
@using Client.Components
@using Client.Models

@inject RecipeService RecipeService

@if(RecipeService.currentRecipe == null)
{
    <Spinner />
}
else
{
<!-- Image -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="recipe-img">
                <img src="@RecipeService.currentRecipe.Image" alt="">
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="row m-2">
        <div class="col-12">
            <div class="alert alert-danger mt-3" role="alert">
                Uwaga! Oryginalna treść przepisu pochodzi z <a href="@RecipeService.currentRecipe.OrgLink" target="_blank">tego miejsca</a> i jest tutaj umieszczona w celach edukacyjnych.
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="recipe-headline mb-5 mt-3">
                <span>@RecipeService.currentRecipe.PublishedAt.ToString("dd-MM-yyyy")</span>
                <h2>@RecipeService.currentRecipe.Name</h2>
            </div>
        </div>
    </div>

    <div class="row m-2">
        <!-- Steps -->
        <div class="col-12 col-lg-8">
            @foreach(var step in RecipeService.currentRecipe.Steps)
            {
                    <div class="single-preparation-step d-flex">
                    <h4>@step.Position.</h4>
                    <p>@step.Description</p>
                </div>
            }
        </div>

        <!-- Ingredients -->
        <div class="col-12 col-lg-4">
            <div class="ingredients">
                <h4>Składniki</h4>
                @foreach(var ingredient in RecipeService.currentRecipe.Ingredients)
                {
                    <p class="fw-bolder">
                        @ingredient.Name@((MarkupString)(ingredient.Quantity != null ? ":<span class=\"fw-bold\"> " + @ingredient.Quantity + "</span>" : ""))
                    </p>
                }
            </div>
        </div>

    </div>
</div>
}